.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-family: "Brother-1816";
  font-weight: 500;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-family: "Brother-1816";
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 25px;
}

.name {
  font-style: italic;
}